@font-face {
font-family:"thenutcracker";
src:url("thenutcracker.eot?") format("eot"),
url("thenutcracker.woff") format("woff"),
url("thenutcracker.ttf") format("truetype"),
url("thenutcracker.svg#thenutcracker") format("svg");
font-weight:normal;font-style:normal;
}

@font-face {
font-family:"Inside Out Lowercase";
src:url("Inside_Out_Lowercase.eot?") format("eot"),
url("Inside_Out_Lowercase.woff") format("woff"),
url("Inside_Out_Lowercase.ttf") format("truetype"),
url("Inside_Out_Lowercase.svg#InsideOutLowercase") format("svg");
font-weight:normal;font-style:normal;
}


body{
	background-color: black;
}

h1{
	text-align: center;
	font-family: "Inside Out Lowercase";
	color: white;
	font-size: 40px;
}


p{
	font-family: sans-serif;
	font-size: 25px;
	color: white;
	text-align: center;
}

.pics{
	text-align: center;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#but1{
    font-family:"thenutcracker";
    font-size: 80px;
    color: gold;
    border: none;
}

#but1:hover {
	animation: bounce 1s;
	border: 10px;
	color: white;
	background-color: gold;
}

#but2{
    font-family: "thenutcracker";
    font-size: 80px;
    color: DodgerBlue;
    border: none;
}

#but2:hover {
	animation: bounce 1s;
	border: 10px;
	background-color: DodgerBlue;
	color: white;
}

#but3{
    font-family: "thenutcracker";
    font-size: 80px;
    color: Crimson;
    border: none;
}

#but3:hover {
	animation: bounce 1s;
	border: 10px;
	background-color: Crimson;
	color: white;
}

#but4{
    font-family: "thenutcracker";
    font-size: 80px;
    color: SpringGreen;
    border: none;
}


#but4:hover {
	animation: bounce 1s;
	border: 10px;
	background-color: SpringGreen;
	color: white;
}

#but5{
    font-family: "thenutcracker";
    font-size: 80px;
    color: BlueViolet;
    border: none;
}

#but5:hover {
	animation: bounce 1s;
	border: 10px;
	background-color: BlueViolet;
	color: white;
}

#but6{
    font-family: "thenutcracker";
    font-size: 80px;
    color: black;
    border: none;
}

#but6:hover {
	animation: bounce 1s;
	border: 10px;
	background:linear-gradient(to right, red 0, orange 33%, yellow 33%, green 66%, blue 66%, purple 100%);
	
}




.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
  padding: 10px;
}

.grid-item {
  border: 0px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#happy{
	background-color: Gold;
}

#sad{
	background-color: DodgerBlue;
}

#anger{
	background-color: Crimson;
}

#disgust{
	background-color: SpringGreen;
}

#fear{
	background-color: BlueViolet;
}

#rand{
	background:linear-gradient(to right, red 0, orange 33%, yellow 33%, green 66%, blue 66%, purple 100%);
}